* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    min-height: 48px;
    min-width: 48px;
    text-decoration: none;
}

#logo {
    max-height: 70px;
    max-width: 70px;
    border-radius: 35px;  
    border-style: solid;
    border-width: 0.8px;
    border-color: #02b3e4;
}

header {
    max-width: 100%;
    margin: 16px 8px 16px 8px;
    display: flex;
}

hr {
    background-color: #7d97ad;
    height: 1.5px;
    border: none;
    margin: 0;
}

main {
    max-width: 100%;
}

#featured img {
    max-width: 100%;
    max-height: 50%;
    margin: 16px 0px 16px 0px;
    
}

#article-header {
    margin: 0 10px;
}

#article-header h3 {
    font-size: 2rem;
    color: #7d97ad;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 16px;
}

#header-text h1 {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: #2d3c49;
    text-transform: uppercase;
}

#header-text p {
    color: #2d3c49;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

#article-main {
    display: flex;    
}

article img {
    max-width: 100%;

}

article {
    text-align: center;
}

article h2 {
    color: #2d3c49;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 0px;
}

article p {
    color: #2d3c49;
    font-size: 0.875rem;
    margin-top: 8px;
    margin-bottom: 0px;
}

@media screen and (max-width: 767px) {

    body {
        margin: 0;
    }

    header {
        flex-direction: column;
    }
    
    #logo {
        margin: auto;
    }
    
    #header-text {
        margin-top: 8px;
        text-align: center;
    }

    #article-header {
        text-align: center;
    }

    article {
        text-align: center;
        margin: 10px 0px;
        
    }

    #article-main {
        flex-direction: column; 
    }
}


@media screen and (min-width: 768px) {

    header {
        flex-direction: row;
    }
    
    #logo {
    }

    article {
        margin: 0px 10px;
    }
    
    #header-text {
        margin-top: 0px;
        margin-left: auto;
        text-align: right;
    }

    #article-header {
        text-align: left;
    }

    #article-main {
        flex-direction: row; 
    }
    
    
}


@media screen and (min-width: 1183px) {

    body {
        max-width: 1184px;
        margin: auto;
    }
}